@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import url('https://fonts.googleapis.com/css?family=Raleway');

$mainFont: 'Roboto', sans-serif;
$fontLogo: 'Raleway', serif;

$color-mainBackground: #2A3C4A;
$color-chartLabel: rgba(58,222,232,1);
$color-logo: rgba(238,76,118,1);