@import '_fonts-colors.scss';

html {
  min-width: 330px;
  max-width: 95vw;
}

body {
  background-color: $color-mainBackground;
  font-family: $mainFont;
}
.Logo {
  font-family: $fontLogo;
  font-size: 3em;
  color: rgba(238,76,118,1);
  margin-left: 25px;
}

.LastUpdate {
  color: #BCC2CE; 
}

.Fetching, .WaterStatus {
  color: $color-chartLabel;
}

.Fetching {
  margin-left: 50px;
}