#chart-container {
  min-width: 330px;
  max-width: 80vw;
  margin: auto;
}

.LineGraph {
  margin: 50px 0 50px 0;
}

.ChartLabel {
  color: $color-chartLabel;
  font-weight: bold;
  font-size: 1.1em;
}
